.background {
    position: fixed;
    z-index: -99;
    background-image: url('../../assets/Pictures/HD-wallpaper-acoustic-guitar-guitar-musical-instrument-brown-wooden.jpeg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(100%);
}